[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

ul {
	padding-left: 0px;
}

h1 {
	font-family: 'Lemon', cursive;
}

#submit {
	padding-left: 30px;
	padding-right: 30px;
}

.muted {
	color: #999999;
}

.strike {
	text-decoration: line-through;
}

ul {
	list-style: none;
}